#!/usr/bin/make -f
include /usr/share/dpkg/default.mk

export GOPATH = /usr/share/gocode

SYSTYPE = Desktop
ARCH = x86
DISTRO = x86
ifeq ($(DEB_BUILD_ARCH), amd64)
	ARCH = x86
	DISTRO = x86
endif
ifeq ($(DEB_BUILD_ARCH), i386)
	ARCH = x86
	DISTRO = x86
endif
SYSTYPE=$(shell cat /etc/deepin-version | grep Type= | awk -F'=' '{print $$2}')
ifeq ($(SYSTYPE), Professional)
	DISTRO = pro
endif
ifeq ($(SYSTYPE), Desktop)
	DISTRO = community
endif

ifeq ($(DEB_BUILD_ARCH), mipsel)
	ARCH = mips
	DISTRO = mips
endif
ifeq ($(DEB_BUILD_ARCH), mips64el)
	ARCH = mips
	DISTRO = mips
endif
ifeq ($(DEB_BUILD_ARCH), sw_64)
	ARCH = sw
	DISTRO = sw
endif
ifeq ($(DEB_BUILD_ARCH), arm64)
	ARCH = arm
	DISTRO = arm
endif
export ARCH
export DISTRO

%: 
	dh $@

override_dh_auto_build:
	dh_auto_build -- DISTRO=$(DISTRO) ARCH=$(ARCH)
override_dh_auto_install:
	dh_auto_install -- DISTRO=$(DISTRO) ARCH=$(ARCH)
