#!/usr/bin/make -f
include /usr/share/dpkg/default.mk

ARCH = common
ifeq ($(DEB_BUILD_ARCH), amd64)
	ARCH = x86
endif
ifeq ($(DEB_BUILD_ARCH), i386)
	ARCH = x86
endif
export ARCH

%: 
	dh $@

override_dh_auto_build:
	dh_auto_build -- ARCH=$(ARCH)
